* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: calc(14px + 0.390625vw);
}

body {
  background-color: #f5f6fa;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #007bff;
}

.nav-links .vertical-divider {
  border: 1px solid #666;
  width: 1px;
}

.nav-links .active a {
  text-decoration: underline;
}
